<aside>
    <div id="sidebar" class="nav-collapse">
        <!-- sidebar menu start-->
        <div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a asp-action="Index" asp-controller="Home">
                        <i class="fa fa-dashboard"></i>
                        <span>Trang quản trị</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-laptop"></i>
                        <span>Danh mục</span>
                    </a>
                    <ul class="sub">
                        <li><a >Danh mục sản phẩm</a></li>
                        <li><a asp-action="Index" asp-controller="NewsCategory">Danh mục tin tức</a></li>
                        <li><a asp-action="Index" asp-controller="Roles">Danh mục loại phân quyền</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fa fa-book"></i>
                        <span>Quản lý</span>
                    </a>
                    <ul class="sub">
                        <li><a href="boxed_page.html">Danh mục sản phẩm</a></li>
                        <li><a href="horizontal_menu.html">Danh mục tin tức</a></li>
                        <li><a href="language_switch.html">Danh mục loại thông tin</a></li>
                    </ul>
                </li>
                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-bullhorn"></i>
                        <span>Báo cáo thống kê </span>
                    </a>
                </li>

                <li>
                    <a href="fontawesome.html">
                        <i class="fa fa-bullhorn"></i>
                        <span>Cấu hình </span>
                    </a>
                </li>

            </ul>
        </div>
        <!-- sidebar menu end-->
    </div>
</aside>
